body {
	    background-image: url('/img/background.jpg');
    background-repeat: repeat;
    background-position: top center;
    background-attachment: fixed;
        background-size: cover;
}
footer {

	    background: #272727;
}
.wrapper {
	 background: rgba(0, 0, 0, 0.5);
}
.apply-button {
	white-space: normal;
}
.apply-block {
	width: 200px;
}
.top-section {

	padding-bottom: 150px;
}
.contact-section {
	padding-bottom: 50px;
}
.top-section a, .top-section a:hover {
	color: #fff;
}
.middle-section, .info-section {
	padding: 50px 0;
	background: #fff;
}

.middle-section .caption {
	padding-bottom: 50px;
}

.thumb-bottom-button {
	position: absolute;
	bottom: 15px;
}
.white-text {
	color: #fff;
}
.black-text {
	color: #000;
}
.input-box {
	    margin-bottom: 20px;
}
.textarea-box {
	text-align: left;
    text-transform: none;
    padding: 9px;
    min-height: 250px;
    padding-left: 15px;
    display: inline-block;
    border-radius: 4px;
    background: rgba(255,255,255, 0.95);
}
.contacts-info-table {
	padding-top: 30px;
	width: 400px;
	margin: 0 auto;
}
.credentials {
	padding: 25px 0;
}
@media (min-width: 992px) {
  .middle-section .thumbnail {
	margin: 4px 15px;
}
.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

}
@media (max-width: 992px) {
 .thumbnail {
 	border: none;
 }
  
}